* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #062;
    display: flex;
    background-image: url(https://images7.alphacoders.com/875/875040.jpg);
    background-size: cover;
}

.memory-game {
    width: 1000px;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    background-color: #1f1f2080;
    backdrop-filter: blur(4px);
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    perspective: 1000px;
}

.memory-card {
    position: relative;
    height: calc(88px*3);
    width: calc(60px*3);
    margin: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;;
}

.memory-card:active {
    transform: scale(.94);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
